# Specific folder ownership
gifts/   @jsmoxon/a-team
giftr/    @jsmoxon/b-team

# Specific file ownership
README.md    @jsmoxon/docs-team
Makefile     @org/devops-team

# Ownership for all files of a certain type
*.js    @jsmoxon/frontend-team
*.py    @jsmoxon/python-team
