# Specific folder ownership
jacksite/   @org/a-team
staticfiles/    @org/b-team
townbuilder/ @org/c-team

# Specific file ownership
README.md    @org/docs-team
Makefile     @org/devops-team

# Ownership for all files of a certain type
*.js    @org/frontend-team
*.py    @org/python-team
