
#id_logo {font-family: 'Dancing Script', cursive; font-size: 250%; }

.nounprojectscontainer { text-align: center; }
.nounprojects {width=150px, display: block; margin:0 auto; }

/*color: #C90513; is the red in the box image
#C9B6A5 is light tan
.navvy {color: #C9B6A5 }
*/


.jumbotron {
	background-image: url("https://s3.amazonaws.com/giftliner/jumbotrongift.jpg");
	background-size: cover;
}

.whitebox {
	background: rgba(255,255,255,0.9);
}

.errorlist {
	color:red;
	list-style-type: none;	
}

/*#calendar {
	background-image: url("/static/images/186583562.jpg");
	background-color: green;
	height:300px;

}*/

#how-it-works {
	background:;
	margin-top:-20px;
	margin-bottom: 10px;
}

.callout-text {
	line-height: 1.6;
	font-size: 18px;
}

/*body {
    background-image: url("fabric_1.png");
    background-color: #cccccc;
}*/

div#ui-datepicker-div    {
    background:#FFFFFF;
    display:block;     
 }

#id_favorites {
	margin-left:-5%;
}

#id_favorites li{
	list-style-type: none;
	font-weight: bold;
}

#id_favorites_0 li{
	display:inline;	
}

#id_favorites_0 label{
	font-weight: normal;
}

#id_favorites_1 li{
	display:inline;
}

#id_favorites_1 label{
	font-weight: normal;
}

#id_favorites_2 li{
	display:inline;
}

#id_favorites_2 label{
	font-weight: normal;
}

#id_favorites_3 li{
	display:inline;
}

#id_favorites_3 label{
	font-weight: normal;
}

#id_favorites_4 li{
	display:inline;
}

#id_favorites_4 label{
	font-weight: normal;
}

#id_favorites_5 li{
	display:inline;
}

#id_favorites_5 label{
	font-weight: normal;
}

.test{
	background:red;
}

