{% extends 'header.html' %}
{% block content %}
<div class="container">
		<div class='col-md-8'>
		<h2>Add a friend</h2>
		<h4>We'll work with whatever info you give to find great gifts for your friend. Then a few weeks prior to the occasion we'll email you a few options to choose from.</h4>
	</div>

	<div class='col-md-6'>
		<form action="" method="post" id="">
			{% csrf_token %}
			{{form}}
			{{formset}}
			<br/>
	  	<input type="submit" value="Submit" class="btn btn-success" />
	  	<br/><br/><br/><br/>
		</form>
	</div>

</div>
<script type="text/javascript">
$(document).ready(function(){
  $('.datepicker').datepicker();
});
</script>
{% endblock content %}