{% extends 'header.html' %}
{% block content %}
<div class="container">
	<h2>Please confirm</h2>
	<h4>We will be sending {{gift.recipient.name}} this gift on your behalf</h4>
	<div class="col-md-6">
		<img src="{{gift_choice.photo_url}}" width="250"/>
		<h5>{{gift_choice.name}} - ${{gift_choice.price}}</h5>
		<p>{{gift_choice.description}}</p>
	</div>
	<div class="col-md-6">
<form action="" method="post" class="form-group">
	{% csrf_token %}
	{{form}}
	<br/>
  	<input type="submit" class= "btn btn-primary" value="Purchase" />
</form>

	</div>
</div>

{% endblock content %}