{% extends 'header.html' %}
{% block content %}
<div class="container">
	<h2>Please confirm</h2>
	<h6>We will be sending {{gift.recipient.name}} this gift on your behalf.</h6>
	<br/>
	<div class="col-md-6">
		<img src="{{gift_choice.photo_url}}" width="250"/>
		<h5>{{gift_choice.name}} - ${{gift_choice.price}}</h5>
		<p>{{gift_choice.description}}</p>
	</div>
	<div class="col-md-6">
<form action="" method="post" class="form-group">
	{% csrf_token %}
	{{form}}

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{stripe_key}}"
    data-image="/img/documentation/checkout/marketplace.png"
    data-name="Giftliner"
    data-description="{{gift_choice.name}}}"
    data-amount="{{gift_choice.price}}">
  </script>

	<br/>

</form>
	</div>
</div>

{% endblock content %}