{% extends 'header.html' %}
{% block content %}
<div class="container">
<h2>{{user}}'s Gift List</h2>
<h4>Here is a list of everyone you'll be sending gifts and the status of each gift.</h4>
{% for person, gift_list in gifts.iteritems %}

<h3>{{person.name}}</h3>
{% for g in gift_list %}
<li><h4>{{g.occasion}} - {{g.occasion_date}} - {{g.status}} - ${{g.price_cap}}</h4></li>

{% endfor %}
{% endfor %}



<a href="/gifts/add_recipient/"><button class="btn btn-success">Add Recipient</button></a>

</div>


{% endblock content %}