{% extends 'header.html' %}
{% block content %}
<div class="container">
<h2> Hi {{user}}!</h2>
<h4>Here is everyone we'll be sending gifts to.</h4>
{% for person, gift_list in gifts.iteritems %}
<h3>{{person.name}}</h3>
{% for g in gift_list %}
<p> {{g.occasion}} coming up on {{g.occasion_date}}. We're {{g.status.value}} a gift in the ${{g.price_cap}} range. 
	Please <a href="/gifts/occasion/{{g.id}}">click here</a> to see your gift options.
<!--	You can expect an email from us about two weeks before {{g.occasion_date}}.</p>-->
{% endfor %}
{% endfor %}



<a href="/gifts/add_recipient/"><button class="btn btn-success">Add Another!</button></a>
</br>
</br>
<a href="/logout/"><button class="btn btn-success">Logout</button></a>
</div>


{% endblock content %}