{% extends 'header.html' %}
{% block content %}
<div class="container">
	<h2> Hi {{user_profile}}!</h2>
	<h4>Here is everyone we'll be sending gifts to.</h4>
	<table class="table">
		<tr>
			<th>Recipient</th>
			<th>Occasion</th>
			<th>Date</th>
			<th>Price Cap</th>
			<th>Status</th>
			<th>Status Page</th>
		</tr>
		{% for person, gift_list in gifts.iteritems %}
		<tr>
			<td>{{person.name}}</td>
			{% for g in gift_list %}
			<td>{{g.occasion}}</td>
			<td>{{g.occasion_date}}</td>
			<td>${{g.price_cap}}</td>
			<td>{{g.status.value}}</td>
			<td><a href="/gifts/occasion/{{g.id}}"><button class="btn btn-info">Gift Page</button></a></td>
		</tr>
{% endfor %}
{% endfor %}

	</table>


<a href="/gifts/add_recipient/"><button class="btn btn-success">Add Another!</button></a>
</br>
</br>
<a href="/logout/"><button class="btn btn-success">Logout</button></a>
</div>


{% endblock content %}