{% extends 'base.html' %}
{% block header %}
  <div class="navbar navbar-inverse" id="header">
    <div class="container">

      <div class="navbar-header">
	<a class="navbar-brand" href="/">Giftliner</a>
      </div>
      <ul class="nav navbar-nav navbar-right"> 	
    <li><a href="/gifts/">Dashboard</a></li>
    <li><a href="/gifts/add_recipient/">Add Recipient</a></li>
  {% if user.is_authenticated %}
   <li><a href="/logout/">Logout</a></li>
    {% else %}
    <li><a href="/accounts/login/">Log In</a></li>
      {% endif %}
      </ul>      
    </div>
  </div>
{% endblock header %}

{% block content %}
{% endblock content %}