{% extends 'header.html' %}
{% block content %}
<!--<form method="post" action="/">
<input type='hidden' name='csrfmiddlewaretoken' value='Oace3RmdaqNLj9Sg2aLT1ErZWWjy4AuC' />
<tr><th><label for="id_username">Username:</label></th><td><input id="id_username" maxlength="254" name="username" type="text" /></td></tr>
<tr><th><label for="id_password">Password:</label></th><td><input id="id_password" name="password" type="password" /></td></tr>
<input type="submit" class="btn btn-primary" value="login" />
<input type="hidden" name="next" value="/app/contacts/" />
</form>

<a href="/signup/"><button class="btn btn-success">Signup</button></a>
-->
   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      <div class="col-md-6"> </div>
      <div class="col-md-6 whitebox">
        <h1 >Give gifts more easily.</h1>
        <p>Giftliner helps you give better gifts by sending you ideas before the occasion and handling the logistics. </p>
        <p>Interested? Sign up to get an invite. </p> 
        </p> 
  <form action="" method="POST" id="beta-signup-form" class="col-md-6" >
    {% csrf_token %}
    {{form}}
    <br/>
      <input type="submit" value="Sign up!" class="btn btn-success" />
  </form>
      </div>
    
    </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/static/images/list.png" width=150px>
          <h2>Make a list</h2>
          <p>Make a list of friends you want to give gifts to. For example, "Martha's birthday on October 5th" or "Joe's wedding on June 27". You have the option to tell us something about them or nothing at all. </p>
        </div>
        <div class="col-md-4">
        	<img src="/static/images/gift.png" width=150px>
          <h2>Choose a gift</h2>
          <p>When the occasion is near we'll email you 3 tailored gift ideas for you to choose from. If you don't like them we'll work with you to find that perfect gift.</p>
       </div>
        <div class="col-md-4">
          <img src="/static/images/truck.png" width=150px>
          <h2>Relax</h2>
          <p>Once you've chosen a gift we'll take care of all the logistics and let you know when your friend received the gift.</p>
        </div>
      </div>


<div class="container">
      <hr>
      Images from the <a href="http://www.thenounproject.com">Noun Project</a>




{% endblock content %}