{% extends 'home_page_header.html' %}
{% block content %}
<!--<form method="post" action="/">
<input type='hidden' name='csrfmiddlewaretoken' value='Oace3RmdaqNLj9Sg2aLT1ErZWWjy4AuC' />
<tr><th><label for="id_username">Username:</label></th><td><input id="id_username" maxlength="254" name="username" type="text" /></td></tr>
<tr><th><label for="id_password">Password:</label></th><td><input id="id_password" name="password" type="password" /></td></tr>
<input type="submit" class="btn btn-primary" value="login" />
<input type="hidden" name="next" value="/app/contacts/" />
</form>

<a href="/signup/"><button class="btn btn-success">Signup</button></a>
-->
   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="col-md-6"> 
        <!--spacer div to keep the whitebox to the right -->
        </div>
          <div class="col-md-6 whitebox">
            <h1 class="callout-header"> Give gifts more easily. </h1>
            <p class="callout-text">Giftliner automatically sends you personalized gift ideas before your friends birthdays. We'll even handle the logistics if you want.</p>
            <p class="callout-text">Sign up to get an invite.</p>
              <form action="" method="POST" id="beta-signup-form" class="form-inline">
                <div class="form-group">
                {% csrf_token %}
                {{form}}
                </div>
                  <button type="submit" class="btn btn-success callout-header">Sign up</button>
              </form>
              <br/><br/>
          </div>
      </div>
    </div>
    <div class="container">
      <div id="how-it-works" class="row">
        <hr>
        <center><h1 class="callout-header">How It Works</h1></center>
      </div>

<!--uno-->
      <div class="row">
        <div class="col-md-6 landinghold">
        <img src="/static/images/246425419.jpg" class="landingimg">
        </div>
        
        <div id="remind" class="col-md-6 whitebox">
          <center><h1 class="callout-header">Gift Ideas</h1></center>
          <center><p class="callout-text">Make a list of friends you want to give gifts to. For example, "Martha's birthday on October 5th" or "Joe's wedding on June 27". Tell us a bit about them to help us tailor the gift ideas.</p></center>
        </div>
      </div>

      <hr>

<!--dos-->      
      <div class="row">
        <div class="col-md-6">
          <center><h1 class="callout-header">Occasion Reminders</h1></center>
          <p class="callout-text">When the date is near we'll email you 5 or 6 tailored gift ideas for you to choose from. If you don't like them our team will work with you to find something perfect.</p>
        </div>
        <div class="col-md-6" id="dos">
          <img src="/static/images/196344845.jpg" class="landingimg">
        </div>
      </div>

      <hr>

<!--tres-->        
      <div class="row">
        <div class="col-md-6" id="tres">
          <img src="/static/images/262344203.jpg" class="landingimg">
        </div>

        <div id="relax" class="col-md-6 whitebox">
          <center><h1 class="callout-header">Easy Logistics</h1></center>
          <center><p class="callout-text">Once you've chosen a gift we'll take care of all the logistics and let you know when your friend received the gift. </p></center>
        </div>
      </div>


</div class="container">
<div id="signup-banner">
  <center><h1>Signup Today to Join our Beta</h1>
                <form action="" method="POST" id="beta-signup-form" class="form-inline">
                <div class="form-group">
                {% csrf_token %}
                {{form}}
                </div>
                  <button type="submit" class="btn btn-default">Sign up</button>

              </form>
    </center>

</div>
<div id="contact-footer">
  <center>
    <h1 class="callout-header">Made on Liberty Hill, San Francisco, CA</h1>
    <p class="callout-text">Please email <a href="">founders@giftliner.com</a> with any questions, comments, feedback or ideas. We'd love to hear from you!</p>
    <p class="callout-text">© Giftliner 2015</p>
  </center>
</div>
      <hr>
    </div class="container">


{% endblock content %}